* {
    padding: 0;
    margin: 0;
}

.container {
    margin: 100px auto;
    max-width: 100px;
    display: flex;
    justify-content: center;
}

.check {
    width: 100px;
    height: 50px;
    background-color: aqua;
    display: inline-block;
    border-radius: 20px;
}

input:checked+ {
    background-color: red !important;
}

.circle::before {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    content: "";
    position: absolute;
    background-color: red;
    left: -10px;
}

.circle{
    position: relative;
}

input {
    opacity: 0;
}